body {
  background-color: rgb(245, 245, 242);


  
}

#topBar {

  display: flex;
  justify-content: space-around;
}
/* Estilos generales del main content de la pagina (cards) */
.search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  #searchInput {
    width: 500px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5p;
  }
  
  #searchButton {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #containerProductos {
    width: 80%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
  
  
  .card {
    width: 300px;
    margin: 10px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
  }
  
  .carrito {
    width: 50px;
    display: flex;
    justify-content:center;
  }

  .boton-agregar-carrito {
    
        color: rgb(255, 255, 255);
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        background-color:#4CAF50;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        padding: 10px;
  }

  /* .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  } */
  
  .img {
    max-width: 100%;
    height: auto;
  }
  
  #container-description {
    margin-top: 10px;
  }
  
  
  
/*  .img {
  width: auto;
  height: auto;
  max-width: 75%;
  max-height: 100%;


 }

 h4 {} */
  
   /* Modal del carrito de compras */
   .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 600px;
  }
  
  .cerrar {
    color: #000000;
    float: right;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
  }
  
  